	.navbar-brand span, .title-section h1 span, .portfolio-section .portfolio-box .project-post .hover-box a.zoom, .news-section .news-box .news-post .post-content h2 a:hover, .news-section .news-box .news-post .post-content ul.meta-tags li a:hover, footer .up-footer .widget_text h1 span, footer .up-footer .posts-widget ul li h2 a:hover, .banner-page-section h1 span, .team-post .inner-team-post ul.social-icons li a:hover,.blog-page-section ul.post-meta li a:hover, .blog-page-section .blog-page-box .blog-post .post-content h2 a:hover, .blog-page-section .blog-page-box .blog-post .post-content > a{ color: rgba(176, 22, 22, 1); }
		#home-section .tp-caption.Concept-Title span{
		color: rgba(176, 22, 22, 1) !important;
	}
	.news-section .news-box .news-post .post-content a.read-more:hover span, .skills-box .skills-progress div.meter p{
		background: rgba(176, 22, 22, 1);
	}
	 .portfolio-section .portfolio-box .project-post .hover-box:after, .team-post .inner-team-post:after, .portfolio-section .portfolio-box .project-post .hover-box:after, .portfolio-section.portfolio-page .portfolio-box .project-post:hover .hover-box:after, .blog-page-section.single-post .contact-form-box #comment-form input[type='text']:focus, .blog-page-section.single-post .contact-form-box #comment-form textarea:focus, input[type='text']:focus, input[type='email']:focus, input[type='password']:focus, textarea:focus{
	 	border-color: rgba(176, 22, 22, 1);
	 }
	
		footer .up-footer{background: #262626; }
		#header{
margin: 0 auto;
}
.container-fluid{
    background:  rgba(176, 22, 22, 1);
    color: black;
    padding:15px 0px;
    font-family: 'Raleway', sans-serif;
}
 a:hover, a:focus, a:active 
      {
        color: red !important;
      }
.navbar-brand
{
	padding-top:35px;
	padding-right:15px;
	padding-bottom:30px;
	padding-left:15px;
}
.navbar-brand img
{
	height:30px;
}
body
{
	font-family:Merriweather;
	line-height:24px;
	font-weight:300;
	font-style:normal;
	color:#999999;
	font-size:14px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.24s ease-in-out;
	-moz-transition: opacity 0.24s ease-in-out;
	transition: opacity 0.24s ease-in-out;
}
.wf-loading body,
{
	opacity: 0;
}
.ie.wf-loading body,
{
	visibility: hidden;
}
footer .up-footer
{
	padding-top:110px;
	padding-right:0;
	padding-bottom:110px;
	padding-left:0;
}