footer .up-footer {
  background: #262626;
  padding: 20px 0;
}
footer .up-footer .footer-widget {
  margin-bottom: 30px;
}
footer .up-footer .footer-widget:last-child {
  margin-bottom: 0;
}
footer .up-footer .footer-widget > h2 {
  color: #222222;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin: 0 0 20px;
  line-height: 24px;
  margin-bottom: 45px;
}
footer .up-footer .widget_text h1 {
  color: #222222;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin: 0 0 20px;
  line-height: 24px;
  margin-bottom: 45px;
  font-size: 24px;
  letter-spacing: 0;
}
footer .up-footer .widget_text h1 span {
  font-size: 24px;
  display: inline-block;
  color: rgba(176, 22, 22, 1);
}
footer .up-footer .widget_text span {
  display: block;
  color: #999999;
  font-size: 13px;
  
  margin: 0 0 4px;
}
footer .up-footer .footer-widget.social-widget > h2 {
  margin-bottom: 24px;
}
footer .up-footer ul.social-icons {
  margin: 0;
  padding: 0;
}
footer .up-footer ul.social-icons li {
  display: inline-block;
  margin-right: 5px;
}
footer .up-footer ul.social-icons li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #eeeeee;
  text-align: center;
  line-height: 36px;
  font-size: 14px;
  color: #222222;
}
footer .up-footer ul.social-icons li a:hover {
  border: 2px solid #222222;
  background: #222222;
  color: #ffffff;
}
footer .up-footer .posts-widget ul {
  margin: 0;
  padding: 0;
}
footer .up-footer .posts-widget ul li {
  display: block;
  margin-bottom: 20px;
}
footer .up-footer .posts-widget ul li:last-child {
  margin-bottom: 0px;
}
footer .up-footer .posts-widget ul li h2 {
  font-size: 14px;
  color: #999999;
  
  font-weight: 300;
  line-height: 24px;
  margin: 0 0 10px;
  font-size: 13px;
  margin: 0;
}
footer .up-footer .posts-widget ul li h2 a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #999999;
}
footer .up-footer .posts-widget ul li h2 a:hover {
  color: rgba(176, 22, 22, 1);
}
footer .up-footer .posts-widget ul li > a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #ccc;
  font-size: 12px;
  
  margin: 0;
}
footer .up-footer .posts-widget ul li > a:hover {
  opacity: 0.7;
}
footer .up-footer .instagram-widget ul {
  margin: 0;
  padding: 0;
}
footer .up-footer .instagram-widget ul li {
  display: inline-block;
  margin-right: 12px;
  margin-bottom: 15px;
}
footer .up-footer .instagram-widget ul li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
footer .up-footer .instagram-widget ul li a img {
  max-width: 72px;
}
footer .up-footer .instagram-widget ul li a:hover {
  opacity: 0.7;
}
footer .up-footer .newsletter-widget p {
  font-size: 13px;
  margin-bottom: 20px;
}
footer .up-footer .newsletter-widget form {
  margin: 0;
}
footer .up-footer .newsletter-widget form input[type="text"] {
  outline: none;
  color: #999999;
  font-size: 13px;
  
  background: #ffffff;
  padding: 12px 20px;
  width: 100%;
  margin: 0;
  border: none;
}
footer .up-footer .newsletter-widget form input[type="submit"] {
  border: none;
  outline: none;
  background: #222222;
  color: #ffffff;
  font-size: 13px;
  
  padding: 12px 26px;
  float: right;
  margin-top: -48px;
  position: relative;
  z-index: 2;
}
footer p.copyright {
  padding: 35px 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #666666;
  margin: 0;
}
#text-2
{
  padding-right: 50px;
}
#text-3
{
  padding-left: 50px;
}