#readMore:hover
      {
        color:red !important;
      }
      a:hover, a:focus, a:active 
      {
        color: red !important;
      }
      hr
      {
        border-color:red !important;
        background-color: red !important;
      }
      #middle
      {
        display: inline-block;
        margin-left: 260px;
        margin-top: 25px;
        margin-bottom: 25px;
      }
    @media (max-width: 1199px) {
    .banner-page-section h1 {
    font-size: 80px;
    line-height: 120px;
  }}
@media (max-width: 991px) {
 .banner-page-section h1 {
    font-size: 60px;
    line-height: 90px;
  }
}
@media (max-width: 767px) {
.banner-page-section h1 {
    font-size: 40px;
    line-height: 60px;
  }
}
.banner-page-section {
  padding: 60px 0;
  position: relative;
}
.banner-page-section h1 {
  color: #222222;
  font-size: 48px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  line-height: 60px;
  margin: 0 0 30px;
  letter-spacing: -2.5px;
  font-size: 100px;
  margin-bottom: 0px;
  line-height: 140px;
}
.banner-page-section h1 span {
  color: rgba(176, 22, 22, 1);
}
.banner-page-section p {
  font-size: 18px;
}
.banner-page-section.white-style {
  background: #333333;
}
.banner-page-section.white-style h1 {
  color: #ffffff;
}
.banner-page-section.white-style h1 span {
  color: rgba(176, 22, 22, 1);
}
    #para
{
    width :74%;
    margin:auto;
    padding-bottom: 60px;
}
